{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">My Booking</h1>
<div class="container">
    <div class="row">
        {% for booking in bookings %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ booking.img.url }}" class="card-img-top" alt="{{ booking.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.name }}</h5>
                        <p class="card-text">{{ booking.desc }}</p>
                        <p class="card-text">Booked Dates: {{ booking.checkin_date }} to {{ booking.checkout_date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
